@model Furniture_Rental_APP_ASP.NET_MVC.Models.Furniture
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Brand Name</dt>
        <dd>@Model.Brand.Name</dd>
        <dt>Major material</dt>
        <dd>@Model.Material</dd>
        <dt>Category</dt>
        <dd>@Model.Category.Name</dd>
        <dt>Stock</dt>
        <dd>@Model.Stock</dd>

    </dl>
</div>


